# Ignore environment and secret files
backend/.env


# Ignore node modules
node_modules/
npm-debug.log
yarn-error.log

# Ignore build and dependency files
dist/
build/
.cache/

# Ignore logs and temporary files
logs/
*.log
*.out
*.pid
.DS_Store
Thumbs.db

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Ignore Git-related files
.git/
.gitignore
