.medi-container {
    text-align: center;
    padding: 20px;
    background-color: #f0f8ff; /* Light background */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.medi-card {
    background-color: #ffffff; /* White card */
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.medi-title {
    color: #0077b6; /* Primary color for the title */
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.medi-card .MuiButtonBase-root {
    padding: 15px;
    background-color: #00b4d8; /* Light Blue color */
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease;
}

.medi-card .MuiButtonBase-root:hover {
    background-color: #0096c7; /* Darker Blue on hover */
}

.Toastify__toast-container {
    z-index: 9999;
}
